In [17]:
from sklearn.datasets import load_svmlight_files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import LinearSVC, SVC
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfTransformer

In [18]:
from sklearn.datasets import load_svmlight_files
files = ["C:/NLP/data/aclImdb/train/labeledBow.feat","C:/NLP/data/aclImdb/test/labeledBow.feat"]
train_mat,train_rate, test_mat, test_rate=load_svmlight_files(files, n_features=None, dtype=None)

In [29]:
train_mat.shape

(25000, 89527)

In [51]:
tfidf = TfidfTransformer()
train_mat = tfidf.fit_transform(train_mat)
test_mat = tfidf.transform(test_mat)

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/sklearn/feature_extraction/text.py:1059: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [52]:
test_mat.shape

(25000, 89527)

In [56]:
binarytrain = []
binarytest = []
for i in range(len(train_rate)):
    if train_rate[i] > 6:
        binarytrain.append(1) # Positive
    else:
        binarytrain.append(0) # Negative
        
for i in range(len(test_rate)):
    if test_rate[i] > 6:
        binarytest.append(1) # Positive
    else:
        binarytest.append(0) # Negative

In [57]:
# logistic regression
modellog = LogisticRegression()
modellog.fit(train_mat,binarytrain)
logreg_accuracy = modellog.score(test_mat, binarytest) * 100

In [58]:
logreg_accuracy

88.31599999999999

In [24]:
#Linear SVC
modellin = LinearSVC()
a = modellin.fit(train_mat,binarytrain)
modellin_accuracy = a.score(test_mat, binarytest) * 100

In [25]:
modellin_accuracy

87.896

In [ ]:
#SVM
modelsvc = SVC()
modelsvc.fit(train_mat,binarytrain)
modelsvc_accuracy = modellin.score(test_mat, binarytest) * 100

In [ ]:
modelsvc_accuracy

In [26]:
a

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [30]:
np.amin(modellog.decision_function(train_mat))

-9.05705347196208

In [84]:
coef = modellog.coef_
coef=coef.T

In [85]:
with open('imdb.vocab', 'r') as f:
    imdb = f.read()

In [86]:
imdb = imdb.split('\n')
imdb = np.array(imdb)
imdb= imdb.reshape(-1,1)

In [90]:
fin = np.concatenate((imdb,coef),axis = 1)

In [111]:
fin

array([['the', '0.78199904025571'],
       ['and', '3.034967705903332'],
       ['a', '0.3989834136616954'],
       ...,
       ['kinky-sex', '0.011743320402839777'],
       ['urrrghhh', '0.009744988128899802'],
       ['investigator-like', '-0.020676579646197225']], dtype='<U76')

In [124]:
df = pd.DataFrame(fin,columns = ['imdb','value'])
df.value = pd.to_numeric(df.value,errors = 'coerse')
df.head()

  imdb     value
0  the  0.781999
1  and  3.034968
2    a  0.398983
3   of -0.022614
4   to -1.364115

In [125]:
df.sort_values(by='value',ascending=False)

                imdb     value
83             great  7.600801
309        excellent  6.234958
115             best  5.008257
369        wonderful  4.700893
392          perfect  4.700020
459          amazing  4.093678
71              well  3.832354
242              fun  3.811943
493         favorite  3.807788
114             love  3.708948
489            today  3.697184
437            loved  3.676763
529           highly  3.426635
488          enjoyed  3.371573
870           superb  3.288842
509        brilliant  3.283782
6                 it  3.185485
20               you  3.116433
126            still  3.093415
1                and  3.034968
387       definitely  2.995024
297        beautiful  2.961737
406            liked  2.860212
219              bit  2.830751
282              job  2.809596
712        enjoyable  2.807788
748        fantastic  2.788284
79              also  2.749675
342            enjoy  2.643184
52              very  2.638139
...              ...       ...
581             save -3.320291
407         supposed -3.360845
760            avoid -3.403239
1338  disappointment -3.434213
1278   disappointing -3.468195
906             mess -3.483541
813             lame -3.487352
953            fails -3.535706
294          instead -3.550327
53              even -3.563872
622       ridiculous -3.648176
225          minutes -3.691082
363           stupid -3.846600
598         annoying -3.855620
221           script -3.865652
454    unfortunately -3.987260
856           poorly -4.135196
734             dull -4.209618
503         horrible -4.337593
55                no -4.454917
422            worse -4.617652
156          nothing -4.739458
373         terrible -4.881053
46                 ? -4.966452
328             poor -5.358337
344           boring -6.061449
427            waste -6.328981
368            awful -6.393042
77               bad -7.994974
240            worst -9.339617

[89527 rows x 2 columns]